body{
    margin: 0px;
    padding: 0px;
}

iframe{
    border: none;
    height: 4em;
    width: 100vw;
    background-color: pink;
}

img{
    height: 10em;
}

section{
    background-color: lightgrey;
    width: 75%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0px;
}

ul ul{
    display: flex;
}

li{
    overflow: scroll;
    display: inline-flex;
    width: calc(100%);
}

li div{
    background-color: gray;
    width: auto;
    display: inline-grid;
}

input p{
    display: none;
}

div img{
    width: 100%;
}


#changeBrand{
    display: flex;
}
