@import url(colors.css);

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    color: var(--text);
}

main{
    height: calc(100vh - 4em);
    overflow: scroll;
}

iframe{
    border: none;
    height: 4em;
    width: 100vw;
    background-color: var(--header);
}

img{
    height: 10em;
}

section{
    background-color: var(--item);
    width: 75%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
}

ul {
    list-style: none;
    padding: 0px;
}

ul ul{
    display: flex;
}

li{
    overflow: scroll;
    display: inline-flex;
    width: calc(100%);
}

li div{
    background-color: var(--item-in);
    width: auto;
    display: inline-grid;
}

input p{
    display: none;
}

div img{
    width: 100%;
}


#changeBrand{
    display: flex;
}

img{
    background-color: lightgray;
}
