html[data-theme='light'] {
    --background:#FFF;
    --header:gray;
    --footer:gray;
    --price:lightgray;
    --item:gray;
    --item-in:lightgray;
    --text:black;
    --link:black;
}

html[data-theme='dark'] {
    --background:#121212;
    --header:#0c0c0c;
    --footer:#0c0c0c;
    --price:#3b3b3b;
    --item:#363636;
    --item-in:#363636;
    --text:#FFF;
    --link: #FFF;

}

*{
    transition: 1s;
}
