*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    display: flex;
    height: 4em;
}

body *{
    width: 33%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

div{
    overflow-x: scroll;
}

a{
    margin: .5em;
}
