@import url(colors.css);

body{
    padding: 0;
    margin: 0;
    background-color: var(--background);
}

iframe{
    background-color: var(--header);
    border: none;
    width: 100%;
    height: 4em;
}

div{
    width: 30%;
    height: 55vh;

    margin: auto;
    margin-top: 15vh;
    padding: 3em;

    color: var(--text);
    background-color: var(--item);
    border-radius: 3em;

    box-sizing: border-box;
    text-align: center;

    display: grid;
}

span{
    margin:auto;
}

input{
    text-align: center;
}

h2{
    margin: 0;
}

button{
    border: none;
}

a{
    color: var(--link);
}
