@import url(colors.css);

body{
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

main{
    height: 90%;
    width: 40%;
    margin: auto;
    margin-top: 2em;
    padding: .5em;
    background-color: var(--item);
    border-radius: 1em;
    overflow: hidden;
    display: grid;
    grid-auto-rows: 4em 2em auto;
}

iframe{
    width: 100%;
    height: 4em;
    margin: 0;
    border: none;
    padding: none;
    background-color: var(--header);
}

hr{
    width: 100%;
    background-color: black;
}
.input{
    padding: 0.6em;
}

#forms{
    border-radius: 1em;
    background-color: var(--item-in);
    overflow: scroll;
    scrollbar-width: none;
}

form{
    padding: 1em;
    height: calc(100%);
    width: inherit;
    background-color: none;
}

h2{
    margin: 0;
}

#card{
    display: grid;
    grid-gap: 1em;
}

