*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
input{
    width: 100%;
    padding: 1em;
    margin-top: 1.5em;
    border: none;
    border-radius: 1rem;
}
.sign-form input{
    display: block;
    margin-bottom: 4px;
}

#sign{
    text-align: center;
}

.sign-container{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

#invalid_error{
    height: 1em;
    margin-top: 1em;
}

#btn{
    margin:auto;
    margin-top: 2em;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 1rem;
}
#btn:hover{
    outline: 2px solid rgb(255, 255, 255);
}
